{% extends 'base.html.twig' %}
{% block title %}
    Library {{ app.user.username }}
{% endblock %}
{% block body %}
    <div class="container">
    {% if user %}
        <div class="row">

            {% if user == app.user %}
                <div class="col-9">
                    <h1> Ma Bibliotheque ({{ user.username }})</h1>
                </div>
                <div class="col-3">
                    <a class="btn btn-dark btn-block" href="{{ path('library_constructor') }}"> I have more books</a>
                </div>
            {% else %}
                <h1>  Bibliotheque de {{ user.username }}</h1>
            {% endif %}
            </div>

        </div>
            <div class="row active-with-click">
            {% for userBook in userBooks %}
                <div class="col-md-4 col-sm-6 col-xs-12 my-3">
                    {% include ':Books:bookSearchedFromDatabase.html.twig' with {'book' : userBook.book} %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>
{% endblock %}