{% if book is not null %}
    <a href="{{ path('remove_from_my_library',{'id':book.id}) }}" class="btn btn-danger" style="color: black;"> Remove from my Library</a>
{% else %}
    <a href="{{ path('add_to_my_library',{'apiId':apiId}) }}" class="btn btn-success">Add to my Library</a>
{% endif %}