    <div class="col-12">
    <a class="btn btn-success col-4" href="{{ path('exchange_statut_toggle' , {'id':libraryBook.id }) }}">
        {% if libraryBook.exchange  %}
            don't exchange
        {% else %}
            put for exchange
        {% endif %}
    </a>
    </div>
    <div class="col-12">
    <form class="col-12" name="sale_form" action="{{ path('sell_statut_toggle' , {'id':libraryBook.id }) }}" method="post">
        <input class="btn btn-danger col-4" type="submit" name="sellToggle" value="{% if libraryBook.sell  %} don't sell {% else %} Put for sale {% endif %}">
        {% if libraryBook.sell  %}
            <input class="btn btn-secaondary col-3" type="submit" name="update" value="Update">
            <input class="col-2" type="number" name="price" value="{{ libraryBook.price }}"> Dinars
        {% else %}
            <input class="col-2" type="number" name="price" value="0"> Dinars
        {% endif %}
    </form>
    </div>


    <a class="btn btn-warning col-3" href="{{ path('giveaway_statut_toggle' , {'id':libraryBook.id }) }}">
        {% if libraryBook.giveaway  %}
            Hold the giveaway
        {% else %}
            Giveaway
        {% endif %}
    </a>

