{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row py-3" style="border: 0.5px solid grey; border-radius: 5px">
            <div class="col-md-4 flex-column">
                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
            </div>
            <div class="px-2 col-md-8 flex-column">
                <h3 class="font-weight-bold" style="line-height: normal">{{ author.nom }}</h3>
                <h5 class="font-weight-bold text-secondary"> born in 2100 </h5>
                <h6> <small>Wrote {{ authorBooks | length }} books</small></h6>
            </div>
        </div>

        <div class="col-md-12 ftco-animate">
            <h1> List of  his books </h1>
            <div class="row active-with-click">
                {% for authorBook in authorBooks %}
                    <div class="col-md-4 col-sm-16 col-xs-12 my-3">
                        <div class="row">{% include ':Books:bookSearchedFromDatabase.html.twig' with {'book' : authorBook.book} %}</div>
                        <div class="row">{{ render(controller('AppBundle:Book:bookSellExchangeGiveawayStatus',{ 'book': authorBook.book.id })) }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>


    </div>
{% endblock %}