<p class="domain-price text-center">
    {% for book in poplarBooks %}
        <span><small> {{ book.titre }} </small></span>
    {% endfor %}
    <br> <a class="btn btn-success" href="">Top 20 Livres Populaires</a> </span>
</p>

