<p class="domain-price text-center">
    <button class="btn btn-dark" disabled>top 3 books</button>
    <br>
    {% for book in poplarBooks %}
        <a href="{{ path('book_show' , {'id':book.id}) }}"><span><small> {{ book.titre }} </small></span></a>
    {% endfor %}
</p>

