<p class="domain-price text-center">
    <button class="btn btn-dark" disabled>top 3 categories</button>
    <br>
    {% for category in poplarCategories %}
        <a href="{{ path('books_in_category' , {'category':category.category}) }}"><span><small> {{ category.category }} </small> {{ category.categoryCount }} livre(s)</span></a>
    {% endfor %}
</p>
