<p class="domain-price text-center">
    {% for category in poplarCategories %}
        <span><small> {{ category.category }} </small> {{ category.categoryCount }} livre(s)</span>
    {% endfor %}
    <br> <a class="btn btn-success" href="">Liste des categories</a>
</p>
